<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="shortcut icon" href="http://www.foxsports.com/content/dam/fsdigital/fscom/global/dev/static_resources/mlb/teams/retina/30.png"> 
		<link rel="stylesheet" href="style.css" />
			
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="javascript/country.js"></script>
		<script type="text/javascript" src="javascript/login_register.js"></script>
		
		<script>
			function check() {
				$.get("verify_login.php?login_email=" + $("#login_email").val() + "&login_password=" + $("#login_password").val(), function(data, status){
						if(data === "OK") {
							window.location.href = "home.php";
						} else {
							var x = document.getElementById("snackbar");
							x.innerHTML = "Wrong password or email";
							x.className = "show";
							x.style = "color:red";
							setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
						}
			  });
				return false;
			}
		</script>

		<script>
			function check_register() {
				var gender = "unknown";
				
				if(document.getElementById("male").checked) gender = "male";
				if(document.getElementById("female").checked) gender = "female";
				
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function() {
					if (this.readyState === 4 && this.status === 200) {
						response = this.responseText;
						if(this.responseText === "OK") {
							window.location.href = "home.php";
						} else {
							var x = document.getElementById("snackbar");
							x.innerHTML = "This account exists already";
							x.className = "show";
							x.style = "color:red";
							setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
							alert(this.responseText);
						}
						
					}
				};
				xmlhttp.open("GET", "verify_register.php?email=" + $("#email").val() + "&password=" + $("#password").val() +
												"&fname=" + $("#fname").val() + "&lname=" + $("#lname").val() + 
												"&username=" + $("#username").val() + "&city=" + $("#city").val() +
												"&country=" + $("#country").val() + "&gender=" + gender, true);
				xmlhttp.send();
				
				return false;
			}
		</script>
		
        <title>Talkbook | Home</title>
    </head>
	
    <body style=" max-width:80%; margin:auto;">
		
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>
					<a class="navbar-brand" style="pointer-events: none;">Talkbook</a>
				</div>
				
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li id="register_active"><a href="#register" onclick="register_enable();"><span class="glyphicon glyphicon-user"></span> Register</a></li>
						<li id="login_active"><a href="#login" onclick="login_enable();"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div id="register" hidden> 
			<h1>Talkbook - Registration form</h1>
			
			<div class="form-group">
				<form id="register_form" action="home.php" onsubmit="return check_register();" method="POST">
			
					<label>First Name</label>
					<input id="fname" type="text" maxlength="20" style="width:20em;" class="form-control" name="fname" pattern="[A-Za-z]{3,20}" ng-model="fname" placeholder="Enter your first name" required>
					
					<label>Last Name</label>
					<input id="lname" type="text" maxlength="20" style="width:20em;" class="form-control" name="lname" pattern="[A-Za-z]{3,20}" ng-model="lname" placeholder="Enter your last name" required>
					
					<label>Username</label>
					<input id="username" type="text" maxlength="20" style="width:20em;" class="form-control" name="username" pattern="[A-Za-z]{3,20}"  placeholder="Enter a username" required>
					
					<label>E-mail</label>
					<input id="email" type="email" maxlength="40" style="width:20em;" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Enter an email" required>
					
					<label>Password</label>
					<input id="password" type="password" maxlength="20" style="width:20em;" class="form-control" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}" placeholder="Enter a password" required>
					
					<label>Password Validation</label>
					<input type="password" maxlength="20" style="width:20em;" class="form-control" name="pass_val" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}" placeholder="Enter the same password as previous" required>
					
					<label for="country">Country</label>
					<select id="country" class="form-control" style="width:20em;" name="country" required> </select>
					
					<label for="city">City</label>
					<input id="city" type="text" maxlength="20" value="" style="width:20em;" class="form-control" name="city" pattern="[A-Za-z]{3,20}"  placeholder="Enter your city" required>
					
					<label style="margin-right:2em;" >Gander</label>
					<input id="male"     type="radio"  name="gender"  value="male"> Male
					<input id="female"   type="radio"  name="gender"  value="female"> Female
					<input id="unknown"  type="radio"  name="gender"  value="other" checked> Other
					
					<br/>
					
					<button class="btn btn-primary" style="width:20em;" type="submit">Register</button>
				</form>
				
			</div>
		</div>
		
		<div id="login" hidden> 
			<h1>Talkbook - Log in</h1>
			
			<div class="form-group">
				<form id="login_form" name="login" action="home.php" onsubmit="return check();" method="POST">
			
					<label>E-mail</label>
					<input id="login_email" type="email" maxlength="40" style="width:20em;" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Enter your email" required>
					
					<label>Password</label>
					<input id="login_password" type="password" maxlength="20" style="width:20em;" class="form-control" name="password" placeholder="Enter your password" required>
					<button class="btn btn-primary" style="width:20em;" type="submit">Log in</button>
				</form>
				
			</div>
		</div>
		
		<div id="snackbar"></div>
		
		<script> 
			
			country(); 
			
			$.get("https://ipinfo.io", function(response) {
				$("#city").val(response.city);
			}, "jsonp");
			
		</script>
		
	<!-- <center><img src="http://www.foxsports.com/content/dam/fsdigital/fscom/global/dev/static_resources/mlb/teams/retina/30.png"/></center> -->
    </body>
</html>
